body {
  overflow-y: scroll !important;
  }
  
.cursor {
  cursor: pointer;
}

.margin-top {
  margin-top: 20vh;
}

.imageSize{
  width: 15%;
  height: 90%;
}

.modal {
  position: fixed;
}

.checkoutBg{
  background-color: #f1f3f6;
}

.headerBg{
  background-color: #2874f0;
}

.bg-container{
  background-color:#f1f3f6;
  min-height: 100vh;
}

.loginContainer{
  background-image: url('https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/login_img_c4a81e.png');
  background-repeat: no-repeat;
  background-position: 0 85%;
}

.cart-container{
  min-height: 100vh;
}

.textControl {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 18ch;
}

.descTextControl {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30ch;
}

.decCard {
  background: #ffffff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-height: 40%;
  padding:1%
}

.orangeBtn{
  background-color: #fb641b;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@media screen and (min-width: 768px) {
  .margin-top {
    margin-top: 10vh;
  }

  .imageSize{
    width: 25%;
    max-height: 80%;
  }
}